body {
  font-family: Verdana, sans-serif;
  background-color: green;
  color: #333;
  padding: 20px;
}

h1 {
  color: black;
}

button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: navy;
}
